* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 40px;
    background-color: steelblue;
}

.header h1 {
    display: inline-block;
    float: left;
    color: whitesmoke;
    background-color: tomato;
}

.header nav {
    float: right;
    color: whitesmoke;
    padding-top: 10px;
    margin-right: 10px;
}

.header nav ul li {
    margin-left: 20px;
    display: inline-block;
    color: whitesmoke;
}

a {
    text-decoration: none;
}